@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #3d3b3c;
}

.App {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 20vmin;
  border-radius: 50%;
  margin-bottom: 10px;
}

.App-header {
  margin-top: 30px;
}

.App-header h1 {
  font-family: "Merriweather", serif;
  color: #fff;
}

.App-header p {
  color: #fff;
  margin-top: 15px;
}

.App-feature {
  margin-top: 30px;
}

a {
  width: 55vw;
  height: 55px;
  display: block;
  color: #3d3b3c;
  background-color: #fff;
  margin-bottom: 15px;
  line-height: 55px;
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}

a:hover {
  color: #fff;
  border: 2px solid #fff;
  background: none;
}

.App-footer {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767.98px) {
  a {
    width: 85vw;
    height: 40px;
    line-height: 40px;
  }

  .App-logo {
    height: 25vmin;
  }
}
